<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous">
  </head>
  <body>
    <div id="app">{{ message }}</div>

    <script type="module">
      import { createApp } from 'vue'

      createApp({
        data() {
          return {
            message: 'Hello Vue!'
          }
        }
      }).mount('#app')
    </script>

    <div id="app2">
        <span v-bind:title="message">
        Survolez moi pour observer mon titre dynamiquement chargé !
        </span>
    </div>

    <script type="module">
        import { createApp } from 'vue'

        createApp({
        data() {
            return {
            message: 'Cette page a été chargée le ' + new Date()
            }
        }
        }).mount('#app2')
    </script>
    <div id="app4">
        <h2>{{ title }}</h2>
        <ul>
            <li>{{ items [0] }}</li>
            <li>{{ items [1] }}</li>
        </ul>
    
        <hr/>
        <em>Changez le titre de votre liste ici !</em>
        <input v-model="title" type="text"/>
    </div>
        
    <script type="module">
        import { createApp } from 'vue'
        createApp ({
            data () {
                return {
                    items: ['Courses', 'Apprendre REST'],
                    title: 'Ma liste de taches'
                }
            }
        }).mount('#app4')
    </script>
    <div id="app5" class="container">
        <p>{{ message }}</p>
        <span class="input-group-btn">
            <button v-on:click="renverse" class="btn btn-default" type="button">Renverse</button>
        </span>
    </div>

    <script type="module">
        import { createApp } from 'vue'
      
        createApp({
            data() {
                return {
                    message: 'Hello Vue.js!'
                }
            },
            methods: {
                renverse: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        }).mount('#app5')
    </script>
    <div id="app6" class="container">
        <h2>{{ title }}</h2>
        <ol>
            <li v-for="todo in todos" v-bind:class="{ 'alert alert-success': todo.checked }">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="todo.checked">
                        {{ todo.text }}
                    </label>
                </div>
            </li>
        </ol>
        <input type="text" v-model="newTaskText" placeholder="Ajouter une tâches">
        <input class="btn btn-success" type="button" value="valider" @click="addTask">
    </div>
    
    <script type="module">
        import { createApp } from 'vue'
    
        createApp({
            data() {
                return {
                    todos: [
                        { text: 'Apprendre ES6', checked: true },
                        { text: 'Apprendre Vue', checked: false },
                        { text: 'Faire un projet magnifique', checked: false }
                    ],
                    title: 'Mes tâches urgentes:',
                    newTaskText: '',
                }
            },
            methods: {
                addTask() {
                    if (this.newTaskText.trim() !== '') {
                        this.todos.push({ text: this.newTaskText, checked: false });
                        this.newTaskText = '';
                    }
                }
            }
        }).mount('#app6')
    </script>
    <div id="app8" class="container">
        <p>{{ seconds }}</p>
        <span class="input-group-btn">
            <button v-on:click="stoppe" class="btn btn-default" type="button">Stop</button>
        </span>
    </div>
    
    <script type="module">
        import { createApp } from 'vue'
    
        createApp({
            data() {
                return {
                    seconds: 0
                }
            },
            methods: {
                stoppe: function () {
                clearInterval(this.$interval);
                }
            },
            mounted() {
                this.$interval = setInterval(() => {
                this.seconds++;
                }, 1000);
            },
            beforeUnmount() {
                clearInterval(this.$interval);
            }
        }).mount('#app8');
    </script>
    <a href="mycomponent.html" class="btn btn-info">Page suivante</a>
  </body>
</html>
