<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <script type="importmap">
        {
        "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
        }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous">
    </head>
    <body>
        <a href="index.html" class="btn btn-info">Page précédente</a>
        <div id="app">
        <mon-composant :texte="texte" classe="alert alert-info"></mon-composant>
        </div>

        <script type="module">
            import { createApp } from 'vue'

            createApp({
                components: {
                'mon-composant': {
                    props: ['classe', 'texte'],
                    template: '<section :class="classe">{{ texte }}</section>'
                }
                },
                data() {
                return {
                    texte: 'Salut Vue.js'
                }
                }
            }).mount('#app')
        </script>
    </body>
</html>
